.encabezado__container {
    background-color: var(--negro);
    width: 100%;
    padding: 40px 0;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 40px;
}

.encabezado__logo--icono {
    max-width: 260px;
}

.menu__lista {
    display: flex;
    gap: 40px;
    list-style-type: none;
    color: var(--blanco);
}

.menu__lista--item a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    padding: 0%;
}


.banner__wrapper {
    margin: 0;
}

.banner__img {
    max-width: 100%;
    margin: 0;
}



.banner__descripcion {
    max-width: 1200px;
    color: var(--grafito, #222);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 110px auto;
}

.titulo__seccion {
    color: var(--grafito);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.titulo__seccion--subrayado {
    width: 180px;
    height: 4px;
    background: var(--rojo);
    margin: 0 auto;
    margin-top: 16px;
}

.footer {
    background-color: var(--negro);
    width: 100%;
    padding: 20px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    color: var(--blanco);
    max-width: 1200px;
}

.iconos__redes {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0;
}